.navLink {
  text-decoration: none;
  color: dimgray;
}

.navLink:hover {
  color: blue;
}

.navLinkActive {
  text-decoration: none;
  color: black;
}

.footerText {
  display: flex;
  justify-content: space-between;
  margin: 10px 5%;
  color: dimgray;
}
